// @import './xyz.scss';
@import "./dashboard.scss";

.error {
  color: red;
}
.m {
  margin: 10px;
}
.nav-item {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  margin-right: 15px;
}
.dropdown-menu {
  .menu-item {
    font-family: Arial;
    font-size: 15px;
  }
  .icon {
    color: #3a85f5;
    margin-right: 5px;
  }
}
.title-header {
  color: #3a85f5;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  margin-right: 15px;
}
.form-title {
  background-color: #dce6f8;
  font-weight: bold;
  color: gray;
  font-size: 15px;
  text-decoration: none;
  padding: 5px;
  margin: 10px 0px 10px 0px;
}
.button {
  height: 40px;
  width: 150px;
  margin-top: 20px !important;
  margin-left: 10px !important;
  margin-right: 100px !important;
  box-shadow: 1px 1px gray;
}
.sumbmit-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.checkbox {
  margin: 0px 10px 0px 10px;
}
.drop-area {
  margin-top: 15px;
  .dropzone {
    height: 50px;
    width: 600px;
    border: dotted 2px #3a85f5;
    .placeholder {
      text-align: center;
      font-size: 15px;
      color: gray;
    }
  }
}
.option {
  margin-top: 30px;
}
.nav-comp {
  display: flex;
  flex-direction: row;
  .nav-comp-left {
    display: flex;
    flex-direction: row;
  }
}
