// @import './xyz.scss';
@import "./dashboard.scss";

.error {
  color: red;
}
.m {
  margin: 10px;
}
.nav-item {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  margin-right: 15px;
}
.dropdown-menu {
  .menu-item {
    font-family: Arial;
    font-size: 15px;
  }
  .icon {
    color: #3a85f5;
    margin-right: 5px;
  }
}
.title-header {
  color: #3a85f5;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  margin-right: 15px;
}
.form-title{
  background-color:#dce6f8 ;
  font-weight: bold;
  color: gray;  
  font-size: 15px;
  text-decoration: none;
  padding: 5px;
  margin:10px 0px 10px 0px;
}
.button{
  height: 40px;
  width: 150px;
  margin: 20px 10px 0px 0px;
  box-shadow: 1px 1px gray;
}
.checkbox{
  margin: 0px 10px 0px 10px;
}
