// @import './xyz.scss';
@import "./dashboard.scss";

.error {
  color: red;
}

.m {
  margin: 10px;
}

.p {
  padding: 10px;
}
.w {
  width: 220px;
}
.modal-title {
  font-weight: bold;
  color: gray;
  font-size: 25px;
  text-decoration: none;
  padding: 5px;
  margin: 10px 0px 10px 0px;
}
.modal-label {
  font-weight: bold;
  color: black;
  font-size: 20px;
  text-decoration: none;
  padding: 5px;
}
.nav-item {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  margin-right: 15px;
}

.dropdown-menu {
  .menu-item {
    font-family: Arial;
    font-size: 15px;
  }
  .icon {
    color: #3a85f5;
    margin-right: 5px;
  }
}
.steps-container {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  .step {
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 70px;
    justify-content: center;
    align-items: center;
    background-color: #d6dbe4;
    box-shadow: 2px 2px grey;
    border-radius: 5px;
    margin-right: 50px;
  }
  .step-active {
    background-color: #807e7e;
  }
}

.title-header {
  color: #3a85f5;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  margin-right: 15px;
}

.form-title {
  background-color: #dce6f8;
  font-weight: bold;
  color: gray;
  font-size: 15px;
  text-decoration: none;
  padding: 5px;
  margin: 10px 0px 10px 0px;
}

.button {
  height: 40px;
  width: 150px;
  margin-top: 20px !important;
  margin-left: 10px !important;
  margin-right: 100px !important;
  box-shadow: 1px 1px gray;
}

.sumbmit-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.checkbox {
  margin: 0px 10px 0px 10px;
}

.drop-area {
  margin-top: 15px;
  .dropzone {
    height: 50px;
    width: 600px;
    border: dotted 2px #3a85f5;
    .placeholder {
      text-align: center;
      font-size: 15px;
      color: gray;
    }
  }
}

.option {
  margin-top: 30px;
}

.bg-see-radio {
  background-color: #0fa1dd !important;
}

.nav-options {
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 0px 24px;
  cursor: hand;
}

.nav-link:hover {
  background-color: #07678f;
}

.campaign-container {
  margin: 30px;
  .filter-button {
    background-color: #444343;
    color: #ffffff;
    border-radius: 5px;
    width: 150px;
  }
  .filter-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px;
    .title {
      color: black;
      font-size: 25px;
      font-weight: bold;
      text-decoration: none;
      margin-left: 200px;
    }
  }
}

.filter-sidebar {
  position: absolute;
  height: 600px;
  width: 300px;
  background-color: #323f48;
  z-index: 2;
  margin-top: 0px;
  .filter-header {
    width: 100%;
    height: 12%;
    background-color: #323f48;
    font-size: 20px;
    padding: 30px;
    color: white;
  }
  .filter-body {
    width: 100%;
    height: 76%;
    padding: 30px;
    overflow-y: scroll;
    background-color: #323f48;
    color: white;
    .w {
      color: black;
    }
  }
  .filter-footer {
    width: 100%;
    bottom: 0px;
    padding-left: 30px;
    position: absolute;
    background-color: #323f48;
    padding-right: 50px;
  }
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  .record-per-page {
    display: flex;
    justify-content: flex-end;
    padding: 20px 10px;
  }
}

.table-pagination {
  display: flex;
  justify-content: flex-end;
  padding: 20px 10px;
}

.table-page-button {
  font-size: 15px;
  padding: 8px 12px;
  border-radius: 10px;
  margin-left: 5px;
  outline: none;
  border: none;
  background-color: #f2f5f9;
  cursor: pointer;
}

.table-page-button:hover {
  font-size: 15px;
  padding: 8px 12px;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: #343a40;
  color: white;
  cursor: pointer;
}

.table-page-button:disabled {
  cursor: not-allowed;
  color: gray;
}

.table-page-button-active {
  background-color: #01a1dd;
  color: white;
  font-weight: bold;
}
